<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Pagename}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" />

    <!-- OvenMediaPlayer -->
    <script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>
  </head>
  <body>
    <div class="video-player">
      <div id="player"></div>
    </div>
  </body>
  <style>
    .video-player {
        width: 100vw;
        height: 100vh;
    }
    * {
        margin: 0;
        padding: 0;
    }
  </style>
  <script>
    const options = {
      sources: [{ label: '', type: '{{.Info.Protocol}}', file: '{{.Info.StreamUrl}}' }],
    };
    const player = OvenPlayer.create('player', options);
  </script>
</html>
